@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: 'Playfair Display', serif;
  --destructive: 255, 0, 0;
}
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --destructive: 255, 0, 0;
  }
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 2background23 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  --radius: 0.5rem;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}